.Gamepage{
    display: flex;
    flex-direction: column;
    background-image: url('../public/images/backgroundGame.png');
    width: 100%;
    height: 100vh;
    margin: 0;
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    justify-content: space-between;
}
.Gamepage h1{
    padding: 0;
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;

}
.ImageAndSubs{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    width: 70%;
    align-self: center;

}
.imagee{
    background: linear-gradient(to top  , #4e54c8, #8f94fb);
    width: 40%;
    height: 100%;
    border-radius: 8px;
    padding: 5px;
}
.imagee img{
    width: 100%;
    height: 100%;
}
.subs{  
        width: 55%;
        height: 100%;
        background-color: #4d1989;
        border-radius: 8px;
        border: #ffffff33 solid 2px;
}
.buttons{
    width: 70%;
    align-self: center;
    width: 70%;
}